@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 1s;
}

.placeholder::placeholder {
  color: #256b93;
  font-size: 20px;
}
